* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    border: 1px dotted grey;
    width: 75%;
    margin: auto;
    margin: 30px auto;
    padding: 15px;
}

#main h1 {
    font-weight: bold;
}

#main h1 {
    text-align: center;
}

#app {
    
}

#newitem {
    width: 100%;
    padding: 6px;
    font-size: 15px;
}
#btn {
    width: 100%;
    background-color:#0652DD;
    color: #f5f6fa;
    font-size: 15px;
    padding: 5px;
    border: 0px;
}

#additem {
    margin-bottom: 15px;
}

.item {
    padding: 10px;
    margin: 8px 0px;
    border-radius: 8px;
    background-color: #dcdde1;
}